
p {
    line-height: 1;
    display: inline-block;
    margin-left: 20px;
     margin-top: 10px;
}
.hide-initially {
    display: none;
}
.wrapper {
   height:100vh;  /*100% viewport height*/
   width: 100vw;  /*100% viewport width*/
   margin: 10 auto;
}
.row{
    margin: 20px;
    padding: 10px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    color: white;
    z-index: 100;
}
.modal-header {
    position: absolute; 
    z-index: 100; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    padding-left: 10px;
    padding-right: 10px;
    left: 23%;
    top: 30%;
    bottom: 20%;
    width: 55%;
    height: 15%;
    min-height: 100px;
    /*height: 30%; *//* Full height */
    /*overflow: auto;  Enable scroll if needed */
    /*background-color: rgb(0,2,0); /* Fallback color */
    background-color: black;
    /*background-color: rgba(1,2,9,0.8); /* Black w/ opacity */

}
.modal-body {
    display: none; /* Hidden by default */
    position: absolute; 
    z-index: 100; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-left: 10px;
    padding-right: 10px;
    left: 23%;
    top: 48%;
    bottom: 20%;
    width: 55%;
    height: 20%;
    min-height: 150px;
    /*height: 30%; *//* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,2,0); /* Fallback color */
    background-color: black;
    /*background-color: rgba(1,2,9,0.8); /* Black w/ opacity */
}
.modal-content {
    display: none; /* Hidden by default */
    position: absolute; 
    z-index: 100; /* Sit on top */
    margin-left: 0px;
    /*padding-top: 20px; /* Location of the box */
/*    padding-left: 10px;
    padding-right: 10px;*/
    /*background-color: rgb(0,2,0); /* Fallback color */
    background-color: black;
    /*background-color: rgba(1,2,9,0.8); /* Black w/ opacity */
}
#yes {
    display: none; /* Hidden by default */
    position: absolute;
    bottom: 10px;
    left: 33%;
    z-index: 100;  /*Sit on top */
    background-color: white;
    color: black;
}
#no {
    display: none; /* Hidden by default */
    position: absolute;
    bottom: 10px;
    left: 66%;
    z-index: 100;  /*Sit on top */
    background-color: white;
    color: black;
}

/*animation*/
.clock {
  border-radius: 50%;
  background: #ffffff url(assets/images/clock3.png) no-repeat center;
  z-index: 1100;
/*  background-size: 88%;*/
  height: 20em;
  padding-bottom: 31%;
  position: relative;
  width: 20em;
}
.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 101;
}

.seconds-container {
  animation: rotate 20s infinite steps(20);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
}


@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

.seconds {
   background: #ffffff url(assets/images/clock3.png) no-repeat center;
  background: #000;
  height: 20%;
  left: 49.5%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 101;
}

